body {
  margin: 0;
  overflow: hidden;
}
.aquarium {
  position: relative;
  background-image: linear-gradient(0deg, #187be4, #3fb9f2);
  width: 100vw;
  height: 100vh;
}

.water-drop {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: absolute;
  background-color: white;
  opacity: 0.2;
  animation: water-drop 15s ease-in-out infinite,
    sideWays 4s ease-in-out infinite alternate;
}

@keyframes water-drop {
  0% {
    transform: translateX(0%);
    opacity: 0.06;
  }
  100% {
    transform: translateX(-100vw);
  }
}

.water-drop-1 {
  left: 10%;
  animation-delay: 0.5s;
  animation-duration: 16s;
  opacity: 0.2;
}

.water-drop-2 {
  width: 45px;
  height: 45px;
  left: 40%;
  animation-delay: 1s;
  animation-duration: 10s;
  opacity: 0.1;
}

.water-drop-3 {
  width: 40px;
  height: 40px;
  left: 30%;
  animation-delay: 5s;
  animation-duration: 20s;
  opacity: 0.3;
}

.water-drop-4 {
  width: 55px;
  height: 55px;
  left: 40%;
  animation-delay: 8s;
  animation-duration: 17s;
  opacity: 0.2;
}

.water-drop-5 {
  width: 60px;
  height: 60px;
  left: 60%;
  animation-delay: 10s;
  animation-duration: 15s;
  opacity: 0.1;
}

.water-drop-6 {
  width: 70px;
  height: 70px;
  left: 80%;
  animation-delay: 3s;
  animation-duration: 30s;
  opacity: 0.4;
}

.water-drop-7 {
  width: 67px;
  height: 67px;
  left: 90%;
  animation-delay: -7s;
  animation-duration: 25s;
  opacity: 0.3;
}

.water-drop-9 {
  width: 70px;
  height: 70px;
  left: 50%;
  bottom: 30px;
  animation-delay: -5s;
  animation-duration: 19s;
  opacity: 0.2;
}

.water-drop-10 {
  width: 80px;
  height: 80px;
  left: 30%;
  bottom: 30px;
  animation-delay: -21s;
  animation-duration: 16s;
  opacity: 0.3;
}

.water-drop-11 {
  width: 50px;
  height: 50px;
  left: 60%;
  bottom: 30px;
  animation-delay: -13.75s;
  animation-duration: 20s;
  opacity: 0.3;
}

.water-drop-11 {
  width: 65px;
  height: 65px;
  left: 90%;
  bottom: 30px;
  animation-delay: -10.5s;
  animation-duration: 19s;
  opacity: 0.3;
}
.water-drop-12 {
  width: 55px;
  height: 55px;
  left: 40%;
  bottom: 30px;
  animation-delay: -10.5s;
  animation-duration: 19s;
  opacity: 0.3;
}

#fish {
  height: 130px;
  width: 202px;
  background: url("./image.png") left center;
  animation: fishAnimation 15s steps(1) infinite, moveFish 15s ease-in-out infinite;
  position: absolute;
  right: -200px;
  top: 50%;
  margin-top: -150px;
  z-index: 100;
}

@keyframes fishAnimation {
  0% {
    background-position: -600px;
  }
  20% {
    background-position: 0px;
  }
  25% {
    background-position: -200px;
  }
  35% {
    background-position: -400px;
  }
  40% {
    background-position: -400px;
  }
  50% {
    background-position: -200px;
  }
  60% {
    background-position: -0px;
  }
  67% {
    background-position: -600px;
  }

  100% {
    background-position: -600px;
  }
}

@keyframes moveFish {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(calc(-50vw - 100px), 0);
  }
  25% {
    transform: translate(calc(-50vw - 100px), 0);
  }
  35% {
    transform: translate(calc(-50vw - 100px), -20vh);
  }
  50% {
    transform: translate(-25vw, 15vh);
  }
  60% {
    transform: translate(-25vw, -20vh);
  }
  67% {
    transform: translate(-25vw, -20vh);
  }

  100% {
    transform: translate(calc(-100vw - 300px), 0);
  }
}
