body {
  margin: 0;
  overflow: hidden;
}
.aquarium {
  position: relative;
  background-image: linear-gradient(0deg, #187be4, #3fb9f2);
  width: 100vw;
  height: 100vh;
}

.water-drop {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  position: absolute;
  background-color: white;
  bottom: -30px;
  opacity: 0.2;
  animation: water-drop 15s ease-in-out infinite,
    sideWays 4s ease-in-out infinite alternate;
}

@keyframes water-drop {
  0% {
    transform: translateY(0%);
    opacity: 0.06;
  }
  100% {
    transform: translateY(-120vh);
  }
}
